@model WebRole1.Models.EJERCICIO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EJERCICIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STR_NOMBRE_EJERCICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STR_NOMBRE_EJERCICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT_DURACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_DURACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT_REPETICIONES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_REPETICIONES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT_PESO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_PESO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT_DESCANSO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_DESCANSO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INT_SERIES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INT_SERIES)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
