@model WebRole1.Models.PERSONA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PERSONA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STR_APELLIDO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STR_APELLIDO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STR_APELLIDO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STR_APELLIDO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DT_FECHA_NACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_FECHA_NACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STR_PROFESION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STR_PROFESION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMG_FOTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMG_FOTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FT_TAMANO_FOTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FT_TAMANO_FOTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STR_TELEFONO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STR_TELEFONO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STR_TELEFONO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STR_TELEFONO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STR_DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STR_DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STR_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STR_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STR_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STR_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
