@model WebRole1.Models.Horario

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Horario</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.HORA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HORA)
                @Html.ValidationMessageFor(model => model.HORA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ACTIVIDAD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ACTIVIDAD)
                @Html.ValidationMessageFor(model => model.ACTIVIDAD)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIA)
                @Html.ValidationMessageFor(model => model.DIA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.INTIDADMINISTRADOR, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.INTIDADMINISTRADOR)
                @Html.ValidationMessageFor(model => model.INTIDADMINISTRADOR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.INTHORA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.INTHORA)
                @Html.ValidationMessageFor(model => model.INTHORA)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
