@model IEnumerable<WebRole1.Models.Horario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HORA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVIDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INTIDADMINISTRADOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INTHORA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HORA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVIDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INTIDADMINISTRADOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INTHORA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_HORARIO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_HORARIO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_HORARIO })
        </td>
    </tr>
}

</table>
