@model WebRole1.Models.CLIENTE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CLIENTE</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.INT_NUMERO_CLIENTE)

        <div class="form-group">
            @Html.LabelFor(model => model.STR_CEDULA, "STR_CEDULA", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("STR_CEDULA", String.Empty)
                @Html.ValidationMessageFor(model => model.STR_CEDULA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DT_FECHA_INGRESO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DT_FECHA_INGRESO)
                @Html.ValidationMessageFor(model => model.DT_FECHA_INGRESO)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
