@model IEnumerable<WebRole1.Models.CLIENTE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DT_FECHA_INGRESO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERSONA.STR_APELLIDO1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DT_FECHA_INGRESO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERSONA.STR_APELLIDO1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.INT_NUMERO_CLIENTE }) |
            @Html.ActionLink("Details", "Details", new { id=item.INT_NUMERO_CLIENTE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.INT_NUMERO_CLIENTE })
        </td>
    </tr>
}

</table>
